name: Build and Release

on:
  push:
    tags:
      - 'v*' # 匹配所有 v 开头的标签

permissions:
  contents: write

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform_name: win32
            keep_arch: x64
            zip_name: auto-tagger-eagle-plugin-win-x64.zip
          - os: macos-14
            platform_name: darwin
            keep_arch: arm64
            zip_name: auto-tagger-eagle-plugin-mac-arm64.zip

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install --omit=dev

      # Windows 清理 
      - name: Cleanup for Windows
        if: runner.os == 'Windows'
        run: |
          if (Test-Path "node_modules/fluent-ffmpeg/coverage") { Remove-Item "node_modules/fluent-ffmpeg/coverage" -Recurse -Force }
          $BasePath = "node_modules/onnxruntime-node/bin/napi-v6"
          Remove-Item "$BasePath/darwin" -Recurse -Force -ErrorAction SilentlyContinue
          Remove-Item "$BasePath/linux" -Recurse -Force -ErrorAction SilentlyContinue
          Remove-Item "$BasePath/win32/arm64" -Recurse -Force -ErrorAction SilentlyContinue

      # macOS 清理 
      - name: Cleanup for macOS
        if: runner.os == 'macOS'
        run: |
          rm -rf node_modules/fluent-ffmpeg/coverage
          BASE_PATH="node_modules/onnxruntime-node/bin/napi-v6"
          rm -rf "$BASE_PATH/linux"
          rm -rf "$BASE_PATH/win32"
          rm -rf "$BASE_PATH/darwin/x64"

      # Windows 打包 
      - name: Zip for Windows
        if: runner.os == 'Windows'
        run: 7z a -tzip -mx=9 ${{ matrix.zip_name }} .

      # macOS 打包 
      - name: Zip for macOS
        if: runner.os == 'macOS'
        run: zip -9 -r ${{ matrix.zip_name }} . -x "*.git*" ".github*"

      # 自动识别 tag 是否包含 'beta', 'alpha', 'rc', 'pre'
      # 如果包含，prerelease 设为 true，否则为 false
      - name: Upload binaries to release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.zip_name }}
          # 如果 tag 名字里包含横杠（例如 v1.0.0-beta.1），通常就是预发布
          prerelease: ${{ contains(github.ref, '-') }}
          generate_release_notes: true
